$sans-serif: 'inter', helvetica, arial, sans-serif;

$font-xs: 0.68rem;
$font-s: 0.8rem;

$color-white: #fff;
$color-black: #000;
$color-theme-light: rgb(245, 178, 1);
$color-theme-light-2: rgb(166, 199, 188);
$color-theme-dark: rgb(118, 24, 24);
$color-theme-dark-2: rgb(72, 100, 112);

$color-background: $color-black;
$color-text: $color-white;

$width-xs: 21rem;
$width-s: 30rem;
$width-m: 42rem;
$width-l: 56rem;

$media-s: 700px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 1900px;